<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>리터럴</h1>
<!--
<p>타임 리프에서 문자 리터럴은 항상 '(작은 따옴표)로 감싸야 한다.
그런데 문자를 항상 '로 감싸는 일은 너무 귀찮다. <b>공백없이</b> 쭉 이어진다면, 하나의 의미있는 토큰으로 인지해서 다음과 같이 작은 따옴표를 생략할 수 있다.
룰 : 'A-Z', 'a-z', '0-9', '[]', '.', '-', '_'

    <br/>

    그래서 <span th:text="hello" />
    이것도 하나의 의미있는 토큰으로 해석한다.

    <br/>
  그러나 <span th:text="hello world!"/> 는 중간에 공백이 있어서 하나의 의미있는 토큰으로 인식되지 않는다. (Could not parse as expression: "hello world!" (template: "basic/literal" - line 19, col 15))
    이럴 때는 ' ' 로 감싸줘야 한다. <span th:text="'hello world!'"/>
</p>
-->
<ul>
  <!--주의! 다음 주석을 풀면 예외가 발생함-->
  <!--    <li>"hello world!" = <span th:text="hello world!"></span></li>-->
  <li>'hello' + ' world!' = <span th:text="'hello' + ' world!'"></span></li>
  <li>'hello world!' = <span th:text="'hello world!'"></span></li>
  <li>'hello ' + ${data} = <span th:text="'hello ' + ${data}"></span></li>
  <!--  이거 자주 쓰고, 템플릿 방법에서도 자주 적용되는 방식임 -->
  <li>리터럴 대체 |hello ${data}| = <span th:text="|hello ${data}|"></span></li>

</ul>

</body>
</html>
